%h1 Tatami
%hr
%p
  This site is a sample site to confirm the upload of image iOS app with "Picture Shuriken". We were created using Ruby On Rails. Images that have been uploaded so exposes all, please do not Upload a photo about the private. In addition, up to 100 most recent upload of all displays only. In addition, it will be deleted when you passed (about one day) period of time.
%p
  Select the "Sample of Rails" are included from the beginning in the Picture Shurikens to upload photos.
%p
  Source code TODO: publish later you can see in the. Please refer to it when you upload the photo in the "Picture Shuriken" to your site.
%br
  More sample site #{link_to "using the (Ruby) simple Sinatra", "http://tatami-ex.herokuapp.com"} because there is, please look also there.
  
%br
  Press the 'Create new report' at the bottom of the page for information on how to dart in the picture and set it to this site for. 

%hr
%h1 Report List
%p
  Here is a list of photos that have been uploaded.
  
%table
  - @reports.each_slice(8) do |reports|
    %tr
      - reports.each do |report|
        %td= render partial:"thumb_cell", locals: { report:report }
        
        !!! %td= report.description
        !!! %td= link_to 'Show', report
        !!! %td= link_to 'Edit', edit_report_path(report)
        !!! %td= link_to 'Destroy', report, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


= link_to 'Create new report', new_report_path
%br
%br
